.container
{
    display:flex;
    justify-content: space-between;
    flex-wrap:wrap;
    margin:100px 50px;

}


.container1{
    position:Sticky;
    color: rgb(248, 241, 241);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height:90px;
    display:flex;
    background-color: black;
    border-radius: 64px;
    align-items: center;
    justify-content: center;
}
a:visited{
    text-decoration: none;
    color:white;
}
.item{
    width:30%;
    height:300px;
    padding:5px;
    border:10px solid rgb(212, 101, 88);
    border-radius: 64px;
}
ul{
    list-style: none;
}
li{
    display: inline;
}
.item1{
    margin:auto 30px;
    font-family: 'Allerta', sans-serif;
    font-size: larger;

}

.head{
    text-align: center;
    color:rgb(58, 123, 221);
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.center{
    text-align:center;
}
.img{
    width:100px;
    height:100px;
    margin-left: 180px;
}
#item-1{
}
#item-4{
    /* position:absolute; */
    /* justify-content: flex-end; */
}
img{
    height:400px;
    width:400px;
}