

.container{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height:40px;
    display:flex;
    align-items: center;
    position:sticky;
    top:0px;
    background-color: rgb(5, 5, 5);
    border-radius: 64px;
    /* list-style: none;
    top:0px;
    left:0px;
} */
}
a:visited{
    text-decoration: none;
    color:white;
}
ul{
    list-style: none;
}
li{
    display:inline;
}
body{
    background:url('https://source.unsplash.com/random/1800x1200?food') no-repeat;
}
.item{
    margin:auto 30px;
    font-family: 'Allerta', sans-serif;

}
.center
{
    text-align: center;
}
h1{
    text-align:center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(248, 242, 247)
}
h2{
    text-align: center;
}
h3{
    margin:2px;
    text-align: center;
    padding:56px;
    color:white;
    font-family: 'Days One', sans-serif;
}
form{
    border: 5px solid rgb(12, 12, 12);
        margin: 70px 80px;
        padding: 75px;
        border-radius: 28px;
        width:50%;
        display:flex;
        flex-direction: column;
}

#item-4{
    position:absolute;
    left:1450px;
    color:white;
}

.form-div label{
    font-family: 'Baloo Bhai', cursive;
    font-size: large;
    color:white;
    position:absolute;
    margin-top: 15px;

}
.form-div input {
    font-family: 'Baloo Bhai', cursive;
    text-align: center;
    display: block;
    width: 508px;
    padding: 1px;
    border: 2px solid black;
    margin: 11px auto;
    font-size: 25px;
    border-radius: 8px;
}